.sidebar {
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 20px;
    color: white;
}

.sidebar__links {
    margin-top: 40px;
}

.sidebar__links__link {
    font-size: 18px;
    padding: 10px 10px;
}

span{
    padding-left: 20px;
}

.sidebar a {
    margin-top: 20px;
    padding: 10px 8px 6px 16px;
    color: #8b8a8a;
    display: flex;
}

.sidebar a:hover {
    border-radius: 12px;
    background-color: #484bbb14;
    color: #393dbd;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}