.search {
    padding-top: 10px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    width: 100%;
    transition: box-shadow;
}

.search-input {
    font-size: 16px;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    color: white;
}

.search-icon {
    color: white;
}

.search:hover,
.search:focus,
.search:focus-within {
    box-shadow: 0 0 2px white;
    border-radius: 20px;
    color: white;
}