.split {
    background-color: #28282b;
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.right {
    left: 0;
}

.left {
    height: 100%;
    width: 85%;
    right: 0;
}